 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="{% url 'show_home_admin' %}" class="navbar-brand ms-lg-5">
            <h1 class="display-5 m-0 text-primary">Urban<span class="text-secondary">Scout</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'show_home_admin' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'display_test_page' %}" class="nav-item nav-link">Urban Analysis</a>
                <a href="{% url 'show_traffic_page' %}" class="nav-item nav-link">Traffic Analysis</a>
                <a href="{% url 'show_meta_page' %}" class="nav-item nav-link">Metadata Test</a>

                <a href="{% url 'logout' %}" class="nav-item nav-link nav-contact bg-secondary text-white px-5 ms-lg-5"></i>Log Out</a>
            </div>
        </div>
    </nav>